# Laboratorio 2 - SQL

Nombre: FILL IN YOUR NAME HERE

# Dataset

In [35]:
# get the current working directory
!pwd

/home/jovyan

In [36]:
# Define if we are working remotely or not, remotely means the IDE is connected to the jupyter server  in the docker container
working_remotely = True
base_dir = 'work/' if working_remotely else ''

In [37]:
# download the dataset - yellow taxi trip data for January 2022, use the base_dir variable to save the file in the correct folder
!cd {base_dir}data/ && wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet

--2023-11-10 23:22:16--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 13.225.20.197, 13.225.20.117, 13.225.20.174, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|13.225.20.197|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38139949 (36M) [application/x-www-form-urlencoded]
Saving to: ‘yellow_tripdata_2022-01.parquet.2’

ow_tripdata_2022-01  33%[=====>              ]  12.10M  4.23MB/s               ^C

In [38]:
# downloading the taxi lookup zone data
!cd {base_dir}data && wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2023-11-10 23:22:19--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 13.225.20.197, 13.225.20.117, 13.225.20.174, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|13.225.20.197|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-11-10 23:22:19 (48.8 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [39]:
!python {base_dir}populate_tables.py -c {base_dir}db.ini -d {base_dir}data/yellow_tripdata_2022-01.parquet -t yellow_taxi_data_january

2023-11-10 23:22:20,478 - root - INFO - Reading data from work/data/yellow_tripdata_2022-01.parquet
2023-11-10 23:22:20,801 - root - INFO - Creating the database connection
2023-11-10 23:22:20,857 - root - INFO - Populating the yellow_taxi_data_january table
^C

In [ ]:
!python {base_dir}/populate_tables.py -c {base_dir}db.ini -d {base_dir}data/taxi_zone_lookup.csv -t taxi_zone

In [41]:
!python {base_dir}populate_tables.py -c {base_dir}db.ini -d {base_dir}data/rate.csv -t rate

2023-11-10 23:22:23,449 - root - INFO - Reading data from work/data/rate.csv
2023-11-10 23:22:23,452 - root - INFO - Creating the database connection
2023-11-10 23:22:23,474 - root - INFO - Populating the rate table

In [42]:
!python {base_dir}populate_tables.py -c {base_dir}db.ini -d {base_dir}data/payment.csv -t payment

2023-11-10 23:22:24,048 - root - INFO - Reading data from work/data/payment.csv
2023-11-10 23:22:24,051 - root - INFO - Creating the database connection
2023-11-10 23:22:24,072 - root - INFO - Populating the payment table

In [43]:
!python {base_dir}populate_tables.py -c {base_dir}db.ini -d {base_dir}data/vendor.csv -t vendor

2023-11-10 23:22:24,648 - root - INFO - Reading data from work/data/vendor.csv
2023-11-10 23:22:24,651 - root - INFO - Creating the database connection
2023-11-10 23:22:24,672 - root - INFO - Populating the vendor table

# Connect to the database
En las siguientes celdas nos conectamos a la base de datos usando el paquete ipython-sql. Para ello, debemos tener instalado el paquete psycopg2.

In [44]:
import configparser
import matplotlib_inline
import pandas as pd

# reading the db config file
config = configparser.ConfigParser()
config.read(f'{base_dir}db.ini')
POSTGRES_USERNAME = config['postgres']['username']
POSTGRES_PASSWORD = config['postgres']['password']
POSTGRES_HOST = config['postgres']['host']
POSTGRES_PORT = int(config['postgres']['port'])
POSTGRES_DATABASE = config['postgres']['database']

In [45]:
# load SQL module
%load_ext sql

In [46]:
# connecting to our postgres instance using variables defined above
%sql postgresql://$POSTGRES_USERNAME:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DATABASE

In [47]:
# connecting to our postgres instance using variables defined above - using pandas
from sqlalchemy import create_engine, text
engine = create_engine(f'postgresql://{POSTGRES_USERNAME}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DATABASE}')
conn = engine.connect()

In [48]:
# check if the connection is successful
%sql SELECT 1;

 * postgresql://root:***@pgdb-lab2:5432/ny_taxi
1 rows affected.

[(1,)]

In [49]:
# create a view from the first 1000 rows of the trip table

In [ ]:
%%sql
CREATE OR REPLACE VIEW yellow_taxi_1000 AS
SELECT * FROM public.yellow_taxi_data_january LIMIT 1000;

 * postgresql://root:***@pgdb-lab2:5432/ny_taxi

In [ ]:
# check if the view is created
%sql SELECT * FROM yellow_taxi_1000 LIMIT 5;

# Querying the database
En esta sección, vamos a realizar algunas consultas a la base de datos.

Informacion util:
1. [PostgreSQL 13 Documentation](https://www.postgresql.org/docs/13/index.html)
2. [PostgreSQL 13 Documentation - Date/Time Functions and Operators](https://www.postgresql.org/docs/13/functions-datetime.html)
3. [Yellow Taxi Trip Data Dictionary](https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf)
4. [Useful iPython-SQL magic commands](https://github.com/catherinedevlin/ipython-sql)

Comenzaremos con una consulta simple, en la que vamos a contar el número de filas de la tabla. Trabajaremos con la tabla completa, no con la vista que creamos anteriormente.

## Simple queries

### 1. ¿Cuántos viajes se realizaron el primer día del mes?
Para esta query, vamos a utilizar la función COUNT, que nos permite contar el número de filas de una tabla.

In [ ]:
df = pd.read_sql_query(text("""
SELECT COUNT(*) FROM yellow_taxi_data_january
WHERE tpep_pickup_datetime::date = '2022-01-01';
"""), con=conn)
df

In [ ]:
%%sql
SELECT COUNT(*) FROM yellow_taxi_data_january
WHERE tpep_pickup_datetime::date = '2022-01-01';

### 2. ¿Cuántos viajes se realizaron el primer día del mes, entre las 6 y las 9 de la mañana?
Para esta query, vamos a utilizar la función COUNT, que nos permite contar el número de filas de una tabla. También vamos a utilizar la función BETWEEN, que nos permite filtrar los datos que se encuentran entre dos valores. La funcion EXTRACT, nos permite extraer ciertos valores de una fecha, en este caso, la hora.
Dentro de la función EXTRACT, vamos a utilizar HOUR, que nos permite extraer la hora de una fecha.

In [ ]:
%%sql
SELECT COUNT(*) FROM yellow_taxi_data_january
WHERE tpep_pickup_datetime::date = '2022-01-01'
AND EXTRACT(HOUR FROM tpep_pickup_datetime) BETWEEN 6 AND 9;

## JOIN queries

### 3. ¿Cuántos viajes se realizaron el primer día del mes, entre las 6 y las 9 de la mañana, en el distrito de Manhattan, zona Central Park?
'Borough' es una columna de la tabla que nos indica el distrito al que pertenece el viaje. En este caso, vamos a filtrar los viajes que se realizaron en el distrito de Manhattan.
'Zone' es una columna de la tabla que nos indica la zona en la que se realizó el viaje. En este caso, vamos a filtrar los viajes que se realizaron en la zona Central Park.

In [ ]:
%%sql
SELECT COUNT(*)
FROM yellow_taxi_data_january AS ytd
INNER JOIN taxi_zone AS tz ON ytd."PULocationID" = tz."LocationID"
WHERE ytd.tpep_pickup_datetime::date = '2022-01-01'
AND EXTRACT(HOUR FROM ytd.tpep_pickup_datetime) BETWEEN 6 AND 9
AND tz."Borough" = 'Manhattan'
AND tz."Zone" = 'Central Park';

### 4. ¿Cuántos viajes se realizaron el primer día del mes, entre las 6 y las 9 de la mañana con un pago en efectivo?
Para saber si el pago fue en efectivo, tendremos que buscar en la tabla payment.

In [ ]:
%%sql
SELECT COUNT(*)
FROM yellow_taxi_data_january AS ytd
JOIN payment AS p ON ytd."payment_type" = p."payment_type"
WHERE ytd.tpep_pickup_datetime::date = '2022-01-01'
AND EXTRACT(HOUR FROM ytd.tpep_pickup_datetime) BETWEEN 6 AND 9
AND p.description = 'Cash';

### 5. ¿Cuántos viajes se realizaron el primer día del mes, entre las 6 y las 9 de la mañana, en el distrito de Manhattan, con un pago en efectivo?

In [ ]:
%%sql
SELECT COUNT(*)
FROM yellow_taxi_data_january AS ytd
INNER JOIN taxi_zone AS tz ON ytd."PULocationID" = tz."LocationID"
JOIN payment AS p ON ytd."payment_type" = p."payment_type"
WHERE ytd.tpep_pickup_datetime::date = '2022-01-01'
AND EXTRACT(HOUR FROM ytd.tpep_pickup_datetime) BETWEEN 6 AND 9
AND tz."Borough" = 'Manhattan'
AND p.description = 'Cash';

## GROUP BY queries

### 6. ¿Cuántos viajes se realizaron por día del mes?

In [ ]:
%%sql
SELECT tpep_pickup_datetime::date AS day, COUNT(*)
FROM yellow_taxi_data_january
GROUP BY day
HAVING tpep_pickup_datetime::date BETWEEN '2022-01-01' AND '2022-01-31'
ORDER BY day;

In [ ]:
result = _
print(result)

In [ ]:
_.bar();

In [ ]:
result.pie();

In [ ]:
result.DataFrame()

## SUBQUERIES

### 7. Usando subqueries, ¿cuántos viajes se realizaron el primer día del mes, entre las 6 y las 9 de la mañana, en el distrito de Manhattan, zona Central Park?

In [ ]:
%%sql
SELECT COUNT(*)
FROM yellow_taxi_data_january AS ytd
WHERE ytd.tpep_pickup_datetime::date = '2022-01-01'
AND EXTRACT(HOUR FROM ytd.tpep_pickup_datetime) BETWEEN 6 AND 9
AND ytd."PULocationID" IN (
    SELECT "LocationID"
    FROM taxi_zone
    WHERE "Borough" = 'Manhattan'
    AND "Zone" = 'Central Park'
);

# Laboratorio - Creación de tablas

En este caso, vamos a crear una base de datos llamada 'newsletter_spy'.

El modelo de datos que vamos a crear es el siguiente:

<img src="images/schema_lab2.png" width=1200>

In [ ]:
# create database

In [ ]:
%%sql
CREATE DATABASE newsletter_spy;

# Laboratorio - Queries

 Crear las queries que permitan responder las siguientes preguntas, **mostrar los resultados de todas las queries ordenados descendentemente**.

## 1. ¿Cual es la cantidad de viajes que realizaron cada proveedor de servicios de taxi en el mes de enero de 2022?

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_1.csv', index=False)

## 2. ¿Cual es la cantidad de viajes que realizaron cada proveedor de servicios de taxi en el mes de enero de 2022, en el distrito de Queens?

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_2.csv', index=False)

## 3. Calcular la duracion de los viajes que se realizaron el primer día del mes. Mostrar la duracion en minutos. Ordenar los resultados de mayor a menor y mostrar los primeros 10 resultados. Redondear los resultados a 2 decimales.

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_3.csv', index=False)

## 4. ¿Cual es la cantidad de viajes que realizaron cada proveedor de servicios de taxi en el mes de enero de 2022, en el distrito de Queens, con un pago en efectivo?

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_4.csv', index=False)

## 5. Calcular el total de ganancias (fare_amount) que tuvo cada proveedor de servicios de taxi en el mes de enero de 2022. Usar 2 decimales de precisión en el resultado.

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_5.csv', index=False)

## 6. Calcular el total de ganancias (fare_amount) en cada distrito(Borough) de la ciudad de Nueva York en el mes de enero de 2022. Mostrar la cantidad de viajes en cada distrito. Usar 2 decimales de precisión en el resultado.

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_6.csv', index=False)

## 7. Calcular el promedio de duracion en minutos de los viajes que se realizaron en cada distrito(Borough) de la ciudad de Nueva York en el mes de enero de 2022. Usar 2 decimales de precisión en el resultado.

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_7.csv', index=False)

## 8. Calcular la media de duracion en minutos de los viajes que se realizaron en cada distrito(Borough) de la ciudad de Nueva York en el mes de enero de 2022.

Hint: Usar la función percentile_cont() de Postgres.

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_8.csv', index=False)

## 9.  Cual es el promedio de la distancia de los viajes que se realizaron el primer día del mes, en el distrito de Manhattan, con un pago en efectivo? Redondear el resultado a 2 decimales.

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_9.csv', index=False)

## 10. Mostrar los viajes que se realizaron el primer día del mes, en el distrito de Manhattan, en la zona Alphabet City, con un pago en efectivo. Mostrar solo los viajes que tuvieron una duración mayor a 10 minutos.

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_10.csv', index=False)

## 11. Mostrar para cada dia del mes de enero de 2022, el distrito con la mayor cantidad de viajes. Mostrar una sola fila por cada dia del mes.

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/result_11.csv', index=False)

## BONUS-1: Cual es el porcentaje de viajes que hizo cada proveedor de servicios de taxi en el mes de enero de 2022?

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/bonus_1.csv', index=False)

## BONUS-2: Cual es el porcentaje de viajes que hizo cada proveedor de servicios de taxi en el mes de enero de 2022 en el distrito de Queens?

In [ ]:
df = pd.read_sql_query(text("""
WRITE YOUR QUERY HERE
"""), con=conn)
df.to_csv(f'{base_dir}results/bonus_2.csv', index=False)